<footer class="site-footer">
	<div class="container">
	  <p class="text-center">&copy; <%= link_to t('site.name'), main_app.root_url %> 2015</p>
	</div> <!-- /.container -->
</footer> <!-- /.site-footer -->